#compliment {
    color: #575757;
    font-size: 100px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    /*line-height: 40px*/
    display: block;
	background-color: #42f48c;
}

#coloring {
	background-color: #42f48c;
}

#bancoloring {
	background-color: #69307a;
}

#spacer {
	margin-top: 300px;
}

#ban {
    color: #77298e;
    font-size: 100px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    /*line-height: 40px*/
    display: block;
	background-color: #42f48c;
}